<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Contact</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://i-coderr.github.io/static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/504c19067f.js" crossorigin="anonymous"></script>
    <script type="text/javascript" async="" src="https://i-coderr.github.io/static/js/contact.js" data-loaded="true"></script>
</head>

<body>
<div class="bg-triangles">
    <main class="main">
        <div class="container gutter-top">
            <header class="header box">
                <div class="header__left">
                    <div class="header__photo"><img src="/static/img/photo.jpg" alt="" width="320" height="320" class="header__photo-img"></div>
                    <div class="header__base-info"><h4 class="title titl--h4"> Chyngyz <span class="weight--400">  Sharshekeev </span>
                    </h4>
                        <div class="status"> Software Developer | DevOps </div>
                        <ul class="header__social">
                            <li><a target="_blank" rel="noopener" href="https://github.com/i-Coderr"
                                   title="Github"><i class="fa fa-github" style="font-size:24px"></i></a></li>
                            <li><a target="_blank" rel="noopener" href="https://www.linkedin.com/in/chyngyz-sharshekeev-2b972a56/"
                                   title="LinkedIn"><i class="fa fa-linkedin-square" style="font-size:24px"></i></a></li>
                            <li><a target="_blank" rel="noopener" href="https://t.me/iCoderr"
                                   title="Telegram"><i class="fa fa-telegram" style="font-size:24px"></i></a></li>
                            <li><a target="_blank" rel="noopener" href="https://twitter.com/CSharshekeev"
                                   title="Twitter"><i class="fa fa-twitter" style="font-size:24px"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="header__right">
                    <ul class="header__contact">
                        <li><span class="overhead"> Email </span>
                            <a href="mailto:sharshekeev.chyngyz@gmail.com" target="_blank" rel="noopener"
                               title="Email"> sharshekeev.chyngyz@gmail.com <i class="fa fa-envelope-o"></i></a></li>
                        <li><span class="overhead"> Location </span>
                            Bishkek, Kyrgyz Republic <i class="fa fa-map-marker" aria-hidden="true"></i></li>
                    </ul>
                    <ul class="header__contact">
                        <li><span class="overhead"> CV </span>
                            <a href="https://drive.google.com/file/d/1U6Z1BaPfhoHW4tW4KxHEo0Oag1U-i6c_/view?usp=drive_link"
                               target="_blank" rel="noopener"
                               title="CV"> Download <i class="fa fa-cloud-download"></i></a></li>
                        <li><span class="overhead"> Open to work </span> Yes </li>
                    </ul>
                </div>
            </header>

            <div class="row sticky-parent">
                <aside class="col-12 col-md-12 col-lg-2">
                    <div class="sidebar box sticky-column">
                        <ul class="nav">
                            <li class="nav__item"><a href="/" class=""><i class="fa fa-user-o" style="font-size:36px"></i> About </a></li>
                            <li class="nav__item"><a href="/templates/resume" class=""><i class="fa fa-file-text-o" style="font-size:36px"></i> Resume</a></li>
                            <li class="nav__item"><a href="/templates/portfolio" class=""><i class='fas fa-project-diagram' style='font-size:30px'></i> Portfolio</a></li>
                            <li class="nav__item"><a href="/templates/contact" class="router-link-exact-active router-link-active" aria-current="page"><i class="fa fa-envelope" style='font-size:30px'></i>Contact </a></li>
                        </ul>
                    </div>
                </aside>
                <div class="col-12 col-md-12 col-lg-10">
                    <div class="box box-content">
                        <div>
                            <div>
                                <div class="pb-2"><h1 class="title title--h1 first-title title__separate"> Contact </h1>
                                </div>
                                <div><p> Open for opportunities: <strong>Yes</strong></p>
                                    <h2 class="title title--h3">Contact Form</h2>
                                    <form id="contact-form" name="contact-form" method="post" class="contact-form">
                                        <div class="row">
                                            <div class="form-group col-12 col-md-6">
                                                <input type="text" id="name" name="name" placeholder="Full name" class="form-control">
                                            </div>
                                            <div class="form-group col-12 col-md-6">
                                                <input type="email" id="email" name="email" placeholder="Email address" class="form-control">
                                            </div>
                                            <div class="form-group col-12 col-md-12">
                                                <textarea id="message" name="message" placeholder="Your message" rows="4" class="textarea form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-md-6 order-2 order-md-1 text-center text-md-left"></div>
                                            <div class="col-12 col-md-6 order-1 order-md-2 text-right">
                                                <button type="submit" class="btn"><i class="fa fa-send-o"></i> Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <footer class="footer">
                        <span> Copyright © 2023 | Chyngyz Sharshekeev </span>
                    </footer>

                </div>
            </div>
        </div>
    </main>
</div>

</body>
</html>
