<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Resume</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/504c19067f.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="bg-triangles">
    <main class="main">
        <div class="container gutter-top">
            <header class="header box">
                <div class="header__left">
                    <div class="header__photo"><img src="/img/photo.jpg" alt="" width="320" height="320" class="header__photo-img"></div>
                    <div class="header__base-info"><h4 class="title titl--h4"> Chyngyz <span class="weight--400">  Sharshekeev </span></h4>
                        <div class="status"> Software Developer | DevOps </div>
                        <ul class="header__social">
                            <li><a target="_blank" rel="noopener" href="https://github.com/i-Coderr"
                                   title="Github"><i class="fa fa-github" style="font-size:24px"></i></a></li>
                            <li><a target="_blank" rel="noopener"
                                   href="https://www.linkedin.com/in/chyngyz-sharshekeev-2b972a56/"
                                   title="LinkedIn"><i class="fa fa-linkedin-square" style="font-size:24px"></i></a></li>
                            <li><a target="_blank" rel="noopener" href="https://t.me/iCoderr"
                                   title="Telegram"><i class="fa fa-telegram" style="font-size:24px"></i></a></li>
                            <li><a target="_blank" rel="noopener" href="https://twitter.com/CSharshekeev"
                                   title="Twitter"><i class="fa fa-twitter" style="font-size:24px"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="header__right">
                    <ul class="header__contact">
                        <li><span class="overhead"> Email </span>
                            <a href="mailto:sharshekeev.chyngyz@gmail.com" target="_blank" rel="noopener"
                               title="Email"> sharshekeev.chyngyz@gmail.com <i class="fa fa-envelope-o"></i></a></li>
                        <li><span class="overhead"> Location </span>
                            Bishkek, Kyrgyz Republic <i class="fa fa-map-marker" aria-hidden="true"></i></li>
                    </ul>
                    <ul class="header__contact">
                        <li><span class="overhead"> CV </span>
                            <a href="https://drive.google.com/file/d/1U6Z1BaPfhoHW4tW4KxHEo0Oag1U-i6c_/view?usp=drive_link"
                               target="_blank" rel="noopener"
                               title="CV"> Download <i class="fa fa-cloud-download"></i></a></li>
                        <li><span class="overhead"> Open to work </span> Yes</li>
                    </ul>
                </div>
            </header>

            <div class="row sticky-parent">
                <aside class="col-12 col-md-12 col-lg-2">
                    <div class="sidebar box sticky-column">
                        <ul class="nav">
                            <li class="nav__item"><a href="/" class=""><i class="fa fa-user-o" style="font-size:36px"></i> About </a></li>
                            <li class="nav__item"><a href="/resume" class="router-link-exact-active router-link-active" aria-current="page"><i class="fa fa-file-text-o" style="font-size:36px"></i> Resume</a></li>
                            <li class="nav__item"><a href="/portfolio" class=""><i class='fas fa-project-diagram' style='font-size:30px'></i> Portfolio</a></li>
                            <li class="nav__item"><a href="/contact" class=""><i class="fa fa-envelope" style='font-size:30px'></i>Contact </a></li>
                        </ul>
                    </div>
                </aside>
                <div class="col-12 col-md-12 col-lg-10">
                    <div class="box box-content">
                        <div>
                            <div class="pb-0 pb-sm-2"><h1 class="title title--h1 first-title title__separate">Resume </h1>
                                <div class="row">
                                    <div class="col">
                                        <h2 class="title title--h3"><img src="/img/experience.svg" alt="experience" class="title-icon">Experience </h2>
                                        <div class="timeline">
                                            <article class="timeline__item">
                                                <h5 class="title title--h5 timeline__title">
                                                    Peaksoft <small> as </small> Software Developer/DevOps </h5><span class="timeline__period">Oct 2021 - Present </span>
                                                <p class="timeline__description"><span style="white-space: pre-wrap;">- Development of a meaningful service that empowers customer rights.
- Develop and maintain automated CI/CD pipeline for code deployment using different pipelines to serve deployment.
- Implementation and maintenance of features and projects related to our own case management application.
- Setup and maintain monitoring, tracing and logging tools like Kibana and Logz.io.
- Conceptual design of our architecture and deploy them to AWS.
- Managed GitHub repositories and permissions, including branching and tagging.
- Ensure the smooth operation of existing software and high productivity for new functionalities.
- Support the junior developers about their problems and needs. <br></span> Bishkek, Kyrgyz Republic </p>
                                            </article>
                                            <article class="timeline__item">
                                                <h5 class="title title--h5 timeline__title">
                                                    Peaksoft House <small> as </small> Java Instructor </h5><span
                                                    class="timeline__period"> Sep 2021 - May 2023 </span>
                                                <p class="timeline__description"><span style="white-space: pre-wrap;">- Responsible to monitor the course progress of an assigned group of learners in
their course and proactively offer support at key points of the student journey.
- Teaching thrice a week live code-alongs via Zoom, explaining complex concepts simply,
using real-life examples, and exercises.
- Providing learner support, encouraging struggling learners, and challenging those who are excelling.
- Fosters student learning through innovative, effective teaching practices.
- Providing curriculum feedback and reporting learner progress. <br></span> Bishkek, Kyrgyz Republic </p>
                                            </article>
                                            <article class="timeline__item">
                                                <h5 class="title title--h5 timeline__title">
                                                    Peaksoft House <small> as </small> Java Mentor </h5><span
                                                    class="timeline__period">Jun 2021 - Sep 2021 </span>
                                                <p class="timeline__description"><span style="white-space: pre-wrap;">- Checking homework assignments of Java course students.
- Answering student questions on-site and via Zoom.
- Conducting mock technical interviews for students.
- Improving the student learning process. <br></span> Bishkek, Kyrgyz Republic </p>
                                            </article>
                                        </div>
                                        <div class="row mt-4">
                                            <div class="col-sm">
                                                <h2 class="title title--h3"><img src="/img/education.svg" alt="education" class="title-icon">Education </h2>
                                                <div class="timeline">
                                                    <article class="timeline__item">
                                                        <h5 class="title title--h5 timeline__title">
                                                            International Academy of Management Low Finance and Business </h5>
                                                        <span class="timeline__period"> Sep 2005 - Jul 2012 </span>
                                                        <p class="timeline__description">
                                                            <span style="white-space: pre-wrap;">Bachelor's degree, Finance <br></span>
                                                            Bishkek, Kyrgyz Republic
                                                        </p>
                                                    </article>
                                                </div>
                                            </div>
                                            <div class="col-sm">
                                                <h2 class="title title--h3"><img src="/img/education.svg" alt="education" class="title-icon">Nonformal Education </h2>
                                                <div class="timeline">
                                                    <article class="timeline__item">
                                                        <h5 class="title title--h5 timeline__title">
                                                            Harvard University </h5><span class="timeline__period"> Jun 2023 - Oct 2023 ( 11 weeks ) </span>
                                                        <p class="timeline__description"><span
                                                                style="white-space: pre-wrap;">CS50: Introduction to Computer Science <br></span> Online </p>
                                                    </article>
                                                    <article class="timeline__item">
                                                        <h5 class="title title--h5 timeline__title">
                                                            Peaksoft House </h5><span class="timeline__period"> Nov 2020 - Sep 2020 ( 9 month ) </span>
                                                        <p class="timeline__description"><span
                                                                style="white-space: pre-wrap;">Back-End Developer | Java <br></span> Bishkek, Kyrgyz Republic </p>
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-4">
                                            <div class="col-12">
                                                <h2 class="title title--h3">Skills</h2>
                                                <div class="box box__border">
                                                    <div>
                                                        <div class="progress">
                                                            <div role="progressbar" aria-valuemin="0"
                                                                 aria-valuemax="100"
                                                                 class="progress-bar" style="width: 66%; z-index: 2;">
                                                                <div class="progress-text">
                                                                    <span> Web Development </span><span> Intermediate </span>
                                                                </div>
                                                            </div>
                                                            <div class="progress-text"><span> Web Development </span>
                                                            </div>
                                                        </div>
                                                        <div class="progress">
                                                            <div role="progressbar" aria-valuemin="0"
                                                                 aria-valuemax="100"
                                                                 class="progress-bar" style="width: 66%; z-index: 2;">
                                                                <div class="progress-text">
                                                                    <span> Amazon Web Service </span><span> Intermediate </span>
                                                                </div>
                                                            </div>
                                                            <div class="progress-text"><span> Amazon Web Service </span>
                                                            </div>
                                                        </div>
                                                        <div class="progress">
                                                            <div role="progressbar" aria-valuemin="0"
                                                                 aria-valuemax="100"
                                                                 class="progress-bar" style="width: 66%; z-index: 2;">
                                                                <div class="progress-text">
                                                                    <span> Microsoft Azure </span><span> Intermediate </span>
                                                                </div>
                                                            </div>
                                                            <div class="progress-text"><span> Microsoft Azure </span>
                                                            </div>
                                                        </div>
                                                        <div class="progress">
                                                            <div role="progressbar" aria-valuemin="0"
                                                                 aria-valuemax="100"
                                                                 class="progress-bar" style="width: 66%; z-index: 2;">
                                                                <div class="progress-text">
                                                                    <span> DevOps </span><span> Intermediate </span>
                                                                </div>
                                                            </div>
                                                            <div class="progress-text"><span> DevOps </span>
                                                            </div>
                                                        </div>
                                                        <div class="progress">
                                                            <div role="progressbar" aria-valuemin="0"
                                                                 aria-valuemax="100"
                                                                 class="progress-bar" style="width: 33%; z-index: 2;">
                                                                <div class="progress-text">
                                                                    <span> Linux Environment </span><span> Beginner </span>
                                                                </div>
                                                            </div>
                                                            <div class="progress-text"><span> Linux Environment </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-4">
                                            <div class="col-12">
                                                <h2 class="title title--h3">Code Skills</h2>
                                                <div class="box box__border">
                                                    <div>
                                                        <div class="progress">
                                                            <div role="progressbar" aria-valuemin="0"
                                                                 aria-valuemax="100"
                                                                 class="progress-bar" style="width: 66%; z-index: 2;">
                                                                <div class="progress-text"><span> Java </span><span> Intermediate
                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="progress-text"><span> Java </span></div>
                                                        </div>
                                                        <div class="progress">
                                                            <div role="progressbar" aria-valuemin="0"
                                                                 aria-valuemax="100"
                                                                 class="progress-bar" style="width: 33%; z-index: 2;">
                                                                <div class="progress-text">
                                                                    <span> Python </span><span> Beginner </span>
                                                                </div>
                                                            </div>
                                                            <div class="progress-text"><span> Python </span></div>
                                                        </div>
                                                        <div class="progress">
                                                            <div role="progressbar" aria-valuemin="0"
                                                                 aria-valuemax="100"
                                                                 class="progress-bar" style="width: 33%; z-index: 2;">
                                                                <div class="progress-text">
                                                                    <span> C </span><span> Beginner </span>
                                                                </div>
                                                            </div>
                                                            <div class="progress-text"><span> C </span></div>
                                                        </div>
                                                        <div class="progress">
                                                            <div role="progressbar" aria-valuemin="0"
                                                                 aria-valuemax="100"
                                                                 class="progress-bar" style="width: 33%; z-index: 2;">
                                                                <div class="progress-text">
                                                                    <span> HTML/CSS/Javascript </span><span> Beginner </span>
                                                                </div>
                                                            </div>
                                                            <div class="progress-text">
                                                                <span> HTML/CSS/Javascript </span></div>
                                                        </div>
                                                        <div class="progress">
                                                            <div role="progressbar" aria-valuemin="0"
                                                                 aria-valuemax="100"
                                                                 class="progress-bar" style="width: 66%; z-index: 2;">
                                                                <div class="progress-text">
                                                                    <span> SQL </span><span> Intermediate </span>
                                                                </div>
                                                            </div>
                                                            <div class="progress-text"><span> SQL </span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <footer class="footer">
                        <span> Copyright © 2023 | Chyngyz Sharshekeev </span>
                    </footer>

                </div>
            </div>
        </div>
    </main>
</div>

</body>
</html>
